.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}
.form_head {
  font-size: 2rem;
}

.drag_area {
  margin: 3rem;
  font-size: 1.5rem;
  padding: 4rem 0rem 4rem 0rem;
  color: #3a7bd5;
  border: 1px solid #3a6073;
}

.highlighted {
  margin: 3rem;
  font-size: 1.5rem;
  padding: 4rem 0rem 4rem 0rem;
  color: #3a7bd5;
  border: 1px solid green;
  background: #00d0ff0a;
}
